$sidebar-bg: #fff;
$sidebar-item-bg: #d4f4dd;
$sidebar-item-active-bg: #abe1ba;
$sidebar-item-fg: #9da8aa;

.sidebar-wrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%;
  .sidebar-item {
    text-align: left;
    width: calc(100% - 40px);
    background: $sidebar-item-bg;
    padding: 20px;
    color: $sidebar-item-fg;
    text-transform: uppercase;
    border: 1px solid white;
    &.active, &:hover {
      background: $sidebar-item-active-bg;
    }
  }
}
